useDynLib(FoxSim)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(ABC.reject)
export(ABC.weighted)
export(ModelABC)
export(PMC.sampler)
export(PMC.update)
export(calc.weights)
export(display.time)
export(distm)
export(has.support)
export(kernel2D)
export(pick.particle)
export(pre.pad)
export(prior.density)
export(propose.theta)
export(sample.priors)
